body {
  min-height: 1400px;
}
.navbar-static-top {
  margin-bottom: 19px;
}
.display-none {
  display: none;
}
.select-box {
  background-color: #F9F9F9;
  border: 1px solid #D5D5D5;
  padding:10px 7px;
  margin-right: 20px;
  margin-top: 20px;
  height: 500px;
}
.upload-box {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding:10px 7px;
  margin-right: 20px;
  height: 500px;
}
.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

/* named upload */
.filebox .upload-name {
  display: inline-block;
  padding: .5em .75em;  /* label의 패딩값과 일치 */
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #f5f5f5;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  width: 197px;
}
.upload-btn {
  margin: 3px 2px;
  font-size: 12px;
}

.margin-option {
  margin-top: 38px;
}
